@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oswald';
  src: url(/Oswald-VariableFont_wght);
}

#root {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Oswald";
}

.quote{
  font-family: sans-serif;
}